# Base de datos
MYSQL_DATABASE=mydatabase
MYSQL_USER=myuser
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=verysecret

# Aplicación
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/mydatabase
SPRING_DATASOURCE_USERNAME=myuser
SPRING_DATASOURCE_PASSWORD=secret
